@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');


body {
    font-family: 'Segoe UI', sans-serif;
    background-image: url('/Iconos/Petlink_fondo_huellas.jpg');
    position: relative;
    margin: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(255, 229, 170, 0.15);
    z-index: -1;
}

.container {
    display: flex;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    height: auto;
    background-color: #FFF9E9;
}

.logo-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #f7f0e8;
    display: flex;
    padding: 0px;
}

.sidebar {
    background-color: #F08224;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    width: 110px;
    height: 100;
}

.sidebar img {
    width: 90px;
    height: auto;
    margin-bottom: 3px;
    margin-left: -3px;
}


.form-content .formulario{
    border: 2px solid #F08224;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin-top: 30px;
}


.form-content {
    padding: 40px;
    width: 65%;
    justify-items: center;
}

.form-content img{
    width: 60px;
    height: 60px;
    padding: 0px;
    display: flex;
    justify-items: center;
    margin-bottom: 0px;
    margin-top: 20px;
}

h2 {
    color: #3b3b3b;
    margin-bottom: 20px;
    font-weight: 100;
    text-align: center;
    margin-top: 18px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #bbb;
    border-radius: 8px;
    background-color: #FFF9E9;
    width: 275px;
}


.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.checkbox-container label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.checkbox-container input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.checkbox-container span {
    font-size: 14px;
    color: #053A42;
}


button {
    width: 135px;
    height: 30px;
    background-color: #00a8b4;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 75px;
}


button:hover {
    background-color: #008f99;
}

.user-options {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.user-options .option {
    text-align: center;
    width: 45%;
}

.user-options img {
    width: 60px;
    margin-bottom: 10px;
}

.registro-link p {
  font-size: 14px;
  color: #555;
}

.registro-link a {
  color: #007bff;
  text-decoration: none;
}

.registro-link a:hover {
  text-decoration: underline;
}
